---
layout: base.html
title: Home Page
site: CPSC 349 - Project 3
collection: We Love Music
description: A carefully selected collection of muscial images to share our love for music
---

<style>
  .Container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
  .Container .column {
    width: 100%;
  }
  .Container img {
    width: 100%;
    display: block;
    transition: opacity 0.3s ease;
    margin-bottom: 10px;
  }
  .Container img:hover {
    opacity: 0.4;
  }
  .Name {
    visibility: hidden;
  }

  .Name:hover {
    visibility: visible;
  }
</style>

<div class="Container">
  {% for photo in photos.0apgfsq.media %}
  <div class="image-container">
    <a
      href="{% if forloop.first %}/photoPaged{% else %}/photoPaged/{{ forloop.index0 }}{% endif %}"
    >
      <img src="{{ photo.src.tiny }}" alt="{{ photo.alt }}" />
    </a>
  </div>
  {% endfor %}
</div>
