---
layout: base.html
title: Photo Page
site: CPSC 349 - Project 3
collection: We Love Music
pagination:
  data: photos.0apgfsq.media
  size: 1
  permalink: "photos/{% if pagination.pageNumber>1 %}page-{{ pagination.pageNumber | plus: 1 }}{% endif %}/index.html"
---

<style>
  .Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }

  .Container img {
    max-width: 100%;
    max-height: 80vh; 
    display: block;
    margin: 0 auto; 
  }

  .About {
    margin-bottom: 20px; 
    text-align: center;
    font-size: 35px;
  }

  .controls {
    display: flex;
    justify-content: center;
  }

  .controls > * {
    padding: 10px;
  }

  #top {
    margin-top: -20%;
  }

  #bottom {
    margin-top: 8%;
  }

</style>

<nav class="controls" id="top">
  {% if pagination.href.previous %}<a href="{{pagination.href.previous}}"><strong>Previous Page</strong></a>{% endif %}
  {% if pagination.href.next %}<a href="{{pagination.href.next}}"><strong>Next Page</strong></a>{% endif %}
</nav>


{%- for photo in pagination.items %}
<div class="Container">
  <div class ="About">
    {{photo.photographer}}
    <br>
    <p>ID:{{photo.photographer_id}}</p>
    <a href= "{{photo.photographer_url}}"><p>More of my work</p></a>
  </div>
  <img src="{{ photo.src.large }}" alt="{{photo.alt}}" />
  <section>{{photo.alt}}</section>
</div>
{% endfor -%}

<br>

<section class="controls" id="bottom">
  {% if pagination.href.previous %}<a href="{{pagination.href.previous}}"><strong>Previous Page</strong></a>{% endif %}
  {% if pagination.href.next %}<a href="{{pagination.href.next}}"><strong>Next Page</strong></a>{% endif %}
</section>