<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - {{ site }}</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css"> 
  </head>
  <body>
    <header>
        {{ title }} - {{ site }}
        <h1> {{ collection }} </h1>
        <p> {{ description }} </p>
        <nav>
          <ul>
            <li><a href="/index.html"><strong>Home</strong></a></li>
            <li><a href="/AboutUs/index.html"><strong>About Us</strong></a></li>
            <li><a href="#Contact"><strong>Contact Us</strong></a></li>
          </ul>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <hr>
    <section id="Contact">
        <form>
          <h2>Contact Us</h2>
          <label for="first">First name:</label>
          <input type="text" id="first" name="first" placeholder="Ethan">
          <label for="lname">Last name:</label>
          <input type="text" id="last" name="last" placeholder="Isthebest">
          <label for="last">Email:</label>
          <input type="text" id="email" name="email" placeholder="youremail@youremail.com"><br>
          <input type="submit" value="Submit">
        </form>
    </section>
    
    <footer>
      <a href="/index.html"><strong>Back Home</strong></a>
      <br>
      <small>
        <a href="https://www.pexels.com"><i>Photos provided by Pexels</i></a>
      </small>
    </footer>
  </body>
</html>
